{% extends 'layouts/app.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{% translate 'post_edit_page_title' %}</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fa fa-chevron-up"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <form class="input-form" action="{% url 'posts.edit' post.id %}" method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-md-4">
                        <p><span class="text-danger">*</span> {% translate 'input_required_notice' %}</p>
                    </div>
                    <div class="col-md-8">
                        <div class="text-right">
                            <a href="{% url 'posts.index' %}" class="btn btn-default btn-custom mr-2 unload">
                                <i class="fas fa-arrow-circle-left"></i> {% translate 'cancel' %}
                            </a>
                            <button type="submit" class="btn bg-info btn-custom unload">
                                {% translate 'save' %} <i class="fas fa-arrow-circle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <h5 class="form-block-title mb-3">{% translate 'post_edit_title' %}</h5>

                <div class="form-group">
                    <div class="col-md-6">
                        <label for="title"><span class="text-danger">*</span> {% translate 'post_title' %}</label>
                        <div class="row">
                            <div class="col-12">
                                <input type="text" name="title" maxlength="200"
                                       placeholder="{% translate 'post_title' %}"
                                       class="form-control {% if form.title.errors %} is-invalid {% endif %}"
                                       value="{{ form.title.value|default_if_none:post.title }}"/>
                                {% if form.title.errors %}
                                    <div class="text-danger">{{ form.title.errors|escape }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <label for="content"><span class="text-danger">*</span> {% translate 'post_body' %}</label>
                        <div class="row">
                            <div class="col-12">
                                <textarea name="body" placeholder="{% translate 'post_body' %}" rows="5"
                                  class="form-control {% if form.body.errors %} is-invalid {% endif %}">{{ form.body.value|default_if_none:post.body }}</textarea>
                                {% if form.body.errors %}
                                    <div class="text-danger">{{ form.body.errors|escape }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}